<div>
  <h2 mat-dialog-title>About</h2>
  <hr>
  <mat-dialog-content>
    Anybus Configuration Manager -IIoT
    <br>
    Version 1.0.2.0
    <br>
    © 2018 HMS Industrial Networks
    <br>
    HMS Industrial Networks
    <br>
    <a href="https://www.hms-networks.com/" target="_blank">http://www.hms-networks.com</a>
    <br>
    <br>
    Product details:
    <br>
    This program is used to create and send configuration files to Anybus IIoT gateways.
    <br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onCloseCancel()">OK</button>
  </mat-dialog-actions>
  <hr>
</div>
