.add-icon{
    color: green
}
.create-icon{
    color: aqua
}
.file-icon{
    color: gray
}
.folder-icon{
    color: orange;
}
.cloud-icon{
    color: blue
}
.menu{
    background-color: gainsboro
}
.button{
  position: relative;
  top: 470px;
  left: 20px;
  width: 100px;
  margin-right: 20px;
  background-color: gainsboro
}